*{
  padding: 0px;
  margin: 0px;
}
body{
  background: linear-gradient(135deg, #556473e1, #6662a9); /* Light Blue to Light Purple Gradient */
  background-size: cover; /* Ensures gradient covers entire screen */
  height: 100vh; /* Full viewport height */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.questions-container {
  margin: 20px auto;
  width: 500px;
  color:  white;
}
.questions-container h1{
  font-size: 60px;
}
.questions-container h3{
  font-size: 25px;
  margin-top: 15px;
}
.questions-container p{
  font-size: 40px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  font-family:sans-serif;
}

.option-button.correct {
  background-color: #4caf50;
  color: white;
}

.option-button.incorrect {
  background-color: #f44336;
  color: white;
}

.option-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.Score button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 50%;
  font-size: 20px;
}
.Score h2{
  font-size: 40px;
  color : white;
}

.Score button:hover {
  background-color: #0b7dda;
}
.next-button{
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 8px;
  width: 100%;
}
/* #root{
  width: 70%;
} */
